

<ion-content>
<div class="container">
  <ion-label> Mon profil
  </ion-label>
  <div class="monprofil">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
    </svg>
    <div class="item">
      <ion-label>User 123</ion-label>
      <progress value="70" max="100">70 %</progress>
      <ion-label> Niveau 5 </ion-label>
    </div>
  </div>


  <ion-label> Mon type utilisateur </ion-label>
  <div class="usertype">
    <ion-list>
      <ion-item>
        <ion-select aria-label="Type User" interface="popover" placeholder="choisir type">
          <ion-select-option value="Handicap moteur">Handicap moteur</ion-select-option>
          <ion-select-option value="Sans particularité">Sans particularité</ion-select-option>
          <ion-select-option value="Poussette">Poussette</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  </div>

  <ion-label> Mon Activité </ion-label>
  <div class="activity">


    <div class="monprofil">
      <div class="item">
        <label class="number"> 25</label>
        <label> itinéraires </label>
      </div>
      <div class="item">
        <label class="number" > 40 </label>
        <label> Signalements </label>
        <label> vérifiés </label>

      </div>
    </div>

    <div class="monprofil" >
      <div class="item">
        <label class="number" > 5</label>
        <label> incidents  </label>
        <label> reportés </label>
      </div>
      <div class="item">
        <label class="number"> 61 </label>
        <label> Signalements </label>
        <label> rencontrés </label>

      </div>

    </div>
  </div>



</div>

</ion-content>
