ion-toolbar{
  --background: lightblue;
  padding-top: 10px;
  padding-bottom: 10px;
}



.toolbar-container {
  display: flex;
  align-items: center; /* Centers items vertically */
  justify-content: space-between; /* Pushes items to opposite ends */
  width: 100%;
}

.logo {
  height: 50px; /* Adjust as needed */
  width: auto;
  margin-left: 25px; /* Adds margin on the left */
  margin-top: 10px;
  margin-bottom: 10px;

}

.user-chip {
  margin-right: 25px; /* Adds margin on the right */
}


/* From Uiverse.io by Cevorob */
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.right-container {
  display: flex;
  align-items: center; /* Centers burger and user chip vertically */
  gap: 10px; /* Space between the burger and user chip */
}
